/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/*body{
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #4c4c4c;
}*/

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

.ui-menu-list,
.ui-menu-child,
.ui-widget-content,
.ui-menuitem{
  background-color: #106cc8;
  padding:0;
  border:none;
}

.ui-menu-list.ui-menubar-root-list{
  padding-top:5px;
  padding-bottom:5px;
  background-color: #106cc8;
  display: block;
  /*min-height:36px;*/
}

ul.ui-menu-list.ui-widget-content.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow{
  background:none;
  background-color: #106cc8;
  border-color:darkgray;
}

.ui-menubar.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix{
  margin-left:10px;
}

.ui-menuitem-text {
  color: #FFFFFF;
  font-size: 16px;
  vertical-align:middle;
  /*font-weight: bold;*/
}

a.ui-state-hover .ui-menuitem-text {
  color: orange;
}

.ui-menu a.ui-state-hover {
  background-color: #0f3bc8;
  border-color:#106cc8;
}
.ui-submenu-icon, .ui-menuitem-icon{
  display: none;
}
